@model IEnumerable<MvcAdmin.ViewModels.UserViewModel>

@{
  ViewBag.PageTitle = "Registrerade Studenter";
}

<h1>@ViewBag.PageTitle</h1>

<article>
  <section>
    <br>
    @foreach (var student in Model)
    {
      <div>
        <p>@student.UserFirstName @student.UserLastName</p>
        <p>@student.UserEmail</p>
        <p>Telnr: @student.UserPhone</p>
        <p></p>
        <p> @student.UserAddress!.AddressStreet @student.UserAddress!.AddressNumber</p>
        <p>@student.UserAddress!.AddressZipCode @student.UserAddress.AddressCity</p>
        <p><a asp-action="DeleteStudent" asp-route-id="@student.UserId">Ta bort</a> <a asp-action="EditStudent" asp-route-id="@student.UserId">Uppdatera</a></p>
        <br>
      </div>
    }
  </section>
</article>