@model MvcUser.ViewModels.CourseViewModel

<h1>Här är information om @Model.CourseTitle-kursen</h1>
<p>Title: @Model.CourseTitle </p>
<p>Beskrivning: @Model.CourseDescription</p>
<p>Detaljer: @Model.CourseDetails</p>
<p><a asp-controller="Student" asp-action="AddCorseToStudent" asp-route-id="@Model.CourseId">Lägg till kurs</a></p>